@import "./reset.css";

$color-background: #f1f3f5;
$color-main: #2f7ded;
$color-light: #9ac3f4;
$color-point: #03045e;
$color-text: #343a40;

body {
    min-width: 375px;
    background-color: $color-background;
    font-family: "Noto Sans KR", sans-serif;
}

.top-bar {
    width: 100%;
    height: 72px;
    background-color: white;
    position: sticky;
    display: flex;
    justify-content: space-between;

    .top-title {
        height: 72px;
        display: flex;

        .logo-img {
            padding: 6px;
            width: 60px;
            height: 60px;
        }

        .title-text {
            line-height: 2;
            margin-left: -2px;
            font-family: "Gugi", cursive;
            font-size: 38px;
            color: $color-text;
        }
    }

    .set-up-btn {
        padding: 6px;
        width: 60px;
        height: 60px;
    }
}

.container {
    width: 100%;
    margin-top: 24px;

    .main-img-con {
        width: 200px;
        display: flex;
        margin: auto;
    }

    .main-text-con {
        margin: auto;
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 600;
        color: $color-text;
        text-align: center;
    }

    .main-text-con-bold {
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
    }

    .login-container {
        width: 200px;
        margin: auto;

        input {
            width: 190px;
            height: 32px;
            font-size: 12px;
            border: 0;
            border-radius: 12px;
            outline: none;
            padding-left: 10px;
            margin: 8px 0px 8px 0px;
            background-color: white;
        }

        .login-btn-con {
            width: 200px;
            display: flex;
            margin-top: 8px;
            justify-content: space-between;

            .login-btn {
                width: 70px;
                height: 32px;
                border: 0;
                border-radius: 12px;
                background-color: $color-main;
                color: white;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }

    .go-to-sign-up {
        width: 200px;
        display: flex;
        margin: auto;
        margin-top: 12px;
        justify-content: space-between;

        .sign-up-text {
            text-align: center;
            font-weight: 300;
            font-size: 12px;
            color: $color-text;
        }

        .sign-up-btn {
            font-weight: 600;
            font-size: 12px;
            color: $color-text;
        }
    }
}

.sign-up-con {
    width: 200px;
    margin: auto;

    input {
        width: 190px;
        height: 32px;
        font-size: 12px;
        border: 0;
        border-radius: 12px;
        outline: none;
        padding-left: 10px;
        margin-bottom: 8px;
        background-color: white;
    }

    button {
        margin-top: 4px;
        width: 200px;
        height: 32px;
        border: 0;
        border-radius: 12px;
        background-color: $color-main;
        color: white;
        font-weight: 400;
        font-size: 14px;
    }
}

.title-container {
    margin: auto;
    padding: 12px;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 80px;
    background-color: white;
    font-size: 24px;
    font-weight: 800;
    color: $color-text;
    line-height: 1.2;
    border-radius: 12px 12px 0 0;

    .hello {
        margin: 8px;
        font-size: 20px;
        font-weight: 500;
    }

    span {
        margin-left: 6px;
        margin-right: 6px;
        color: $color-main;
    }
}

.water-container {
    margin: auto;
    margin-top: 16px;
    padding: 12px;
    width: 90%;
    background-color: white;

    .water-inner {
        display: flex;
    }

    .circle {
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 200px;
        height: 200px;
        background: #ccc;
        border: 5px solid #fff;
        box-shadow: 0 0 0 5px $color-light;
        border-radius: 50%;
        overflow: hidden;
    }

    .wave {
        position: relative;
        width: 100%;
        height: 100%;
        background: $color-main;
        border-radius: 50%;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    }

    .wave:before,
    .wave:after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #000;
    }

    .wave:before {
        border-radius: 45%;
        background: rgba(255, 255, 255, 1);
        animation: animate 5s linear infinite;
    }

    .wave:after {
        border-radius: 40%;
        background: rgba(255, 255, 255, 0.5);
        animation: animate 10s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }

    button {
        margin: 4px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 100%;
        background-color: $color-light;
        cursor: pointer;
        &:hover {
            transition: 0.5s;
            background-color: $color-main;
        }

        .button-icon {
            color: white;
            font-size: 24px;
        }
    }
}

.goal-bottom-con {
    display: flex;
    margin: auto;
    margin-top: 16px;
    padding: 12px;
    width: 90%;
    background-color: white;
    border-radius: 0px 0px 12px 12px;

    .today-report {
        width: 50%;
        line-height: 1.5;

        .today-report-water {
            color: $color-main;
            font-weight: 800;
            font-size: 24px;
        }
    }

    .more-report {
        width: 50%;
        line-height: 1.5;

        .more-report-water {
            color: $color-point;
            font-weight: 800;
            font-size: 24px;
        }
    }
}
