@import "./reset.css";
body {
  min-width: 375px;
  background-color: #f1f3f5;
  font-family: "Noto Sans KR", sans-serif;
}

.top-bar {
  width: 100%;
  height: 72px;
  background-color: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
}
.top-bar .top-title {
  height: 72px;
  display: flex;
}
.top-bar .top-title .logo-img {
  padding: 6px;
  width: 60px;
  height: 60px;
}
.top-bar .top-title .title-text {
  line-height: 2;
  margin-left: -2px;
  font-family: "Gugi", cursive;
  font-size: 38px;
  color: #343a40;
}
.top-bar .set-up-btn {
  padding: 6px;
  width: 60px;
  height: 60px;
}

.container {
  width: 100%;
  margin-top: 24px;
}
.container .main-img-con {
  width: 200px;
  display: flex;
  margin: auto;
}
.container .main-text-con {
  margin: auto;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #343a40;
  text-align: center;
}
.container .main-text-con-bold {
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #343a40;
}
.container .login-container {
  width: 200px;
  margin: auto;
}
.container .login-container input {
  width: 190px;
  height: 32px;
  font-size: 12px;
  border: 0;
  border-radius: 12px;
  outline: none;
  padding-left: 10px;
  margin: 8px 0px 8px 0px;
  background-color: white;
}
.container .login-container .login-btn-con {
  width: 200px;
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}
.container .login-container .login-btn-con .login-btn {
  width: 70px;
  height: 32px;
  border: 0;
  border-radius: 12px;
  background-color: #2f7ded;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.container .go-to-sign-up {
  width: 200px;
  display: flex;
  margin: auto;
  margin-top: 12px;
  justify-content: space-between;
}
.container .go-to-sign-up .sign-up-text {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #343a40;
}
.container .go-to-sign-up .sign-up-btn {
  font-weight: 600;
  font-size: 12px;
  color: #343a40;
}

.sign-up-con {
  width: 200px;
  margin: auto;
}
.sign-up-con input {
  width: 190px;
  height: 32px;
  font-size: 12px;
  border: 0;
  border-radius: 12px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 8px;
  background-color: white;
}
.sign-up-con button {
  margin-top: 4px;
  width: 200px;
  height: 32px;
  border: 0;
  border-radius: 12px;
  background-color: #2f7ded;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.title-container {
  margin: auto;
  padding: 12px;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 80px;
  background-color: white;
  font-size: 24px;
  font-weight: 800;
  color: #343a40;
  line-height: 1.2;
  border-radius: 12px 12px 0 0;
}
.title-container .hello {
  margin: 8px;
  font-size: 20px;
  font-weight: 500;
}
.title-container span {
  margin-left: 6px;
  margin-right: 6px;
  color: #2f7ded;
}

.water-container {
  margin: auto;
  margin-top: 16px;
  padding: 12px;
  width: 90%;
  background-color: white;
}
.water-container .water-inner {
  display: flex;
}
.water-container .circle {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 200px;
  height: 200px;
  background: #ccc;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #9ac3f4;
  border-radius: 50%;
  overflow: hidden;
}
.water-container .wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #2f7ded;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.water-container .wave:before,
.water-container .wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.water-container .wave:before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: animate 5s linear infinite;
}
.water-container .wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.water-container button {
  margin: 4px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: #9ac3f4;
  cursor: pointer;
}
.water-container button:hover {
  transition: 0.5s;
  background-color: #2f7ded;
}
.water-container button .button-icon {
  color: white;
  font-size: 24px;
}

.goal-bottom-con {
  display: flex;
  margin: auto;
  margin-top: 16px;
  padding: 12px;
  width: 90%;
  background-color: white;
  border-radius: 0px 0px 12px 12px;
}
.goal-bottom-con .today-report {
  width: 50%;
  line-height: 1.5;
}
.goal-bottom-con .today-report .today-report-water {
  color: #2f7ded;
  font-weight: 800;
  font-size: 24px;
}
.goal-bottom-con .more-report {
  width: 50%;
  line-height: 1.5;
}
.goal-bottom-con .more-report .more-report-water {
  color: #03045e;
  font-weight: 800;
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
